*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

#banner{
    border: 2px solid black;
    width: 370px;
    height: 470px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 8px;
    background-color: #e8e8e8;
    border: none;
    margin-bottom: 30px;
    box-shadow: 2px 2px 25px gray;
}

#display{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 88%;
    margin: auto;
    margin-bottom: 10px;
}

#displaybtn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    margin: auto;
}

#displaybtn button{
    padding: 6px 51px;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

#buttons button{
    background-color: rgb(255, 255, 255);
    margin: 3px;
    color: black;
    font-weight: bold;
    padding: 12px 28.5px 20px;
    border: 0.5px solid rgb(198, 198, 198);
    border-radius: 5px;
}

#buttons button:hover{
    background-color: rgb(213, 213, 213);
}

small i:hover{
    transition: .5s;
    transform: rotate(360deg);   
}